
nav {
  height: 80px;
  overflow: hidden;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}
nav ul {
  
  width: 100%;
  height: 95%;
  padding-left: 0;
  display: flex;
  align-items: center;
}
nav ul li {
  background-color: rgb(224, 0, 127);
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  list-style: none;
  border-style: solid;
  border-width: 2px;
  width: 25%;
  height: 100%;
  border-radius: 10px;
}
nav ul li img {
  display: inline-block;
  overflow: hidden;
  margin: auto;
  max-height: 100%;
  border-radius: 10px;
}

div#minigamebox {
  background-color: #A5F08A;
  text-align: center;
  width: 50vw;
  border-width: 4px;
  border-style: solid;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}
div#subbox {
  color: white;
  background-color: black;
  border-radius: 10px;
  display: inline-block;
   text-align: left; 
  padding: 10px;
}
.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
  text-decoration: line-through;
}
.untyped {
  font-weight: bold;
  color: grey;
}