
nav {
    background-color: #F0BBCE;
    height: 50vh;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  nav ul {
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline-block; 
    list-style: none;
    border-style: solid;
    border-width: 3px;
    width: 22vw;
  }
  nav ul li img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }